/* CROSS-SITE VARIABLES */ 

/* Site Colors (Font Colors & Site Elements) */

$mainColor:#da7074;

$colorFont:#151515;
$colorFontLight:#565656;

$black:#000000;
$grey:#818181;
$white:#fff;

/* Transparent Color */ 
$whiteTransparent: rgba(255,255,255,0.3);